
/* shared style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1a0b2e, #070014);
  color: white;
}

.btn {
  background: linear-gradient(135deg, #ff3fa4, #7b5cff);
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
}

/* Navbar Style */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(26, 11, 46, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.logo span {
  color: #ff4fae;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}


 /* Hero Section Style */

#hero-section {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hero-visual {
  position: relative;
  width: 300px;
}

.circle-img {
  width: 100%;
}

.mic-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  width: 90px;
}

.hero-header h1{
  font-weight: 1000;
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-btn{
    margin-top: 10px;
}

.hero-btn .btn-two{
  background: transparent;
  color: green;
  border: 2px solid green;
  padding: 12px 26px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
}


